*:focus {
  outline: 0 !important;
}
.chat-container {
  height: 100vh;
}
.main {
  font-family: "Amiri", serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Vollkorn", serif;
}
.header {
  font-family: "Russo One", sans-serif;
  background-image: linear-gradient(#800000, #ffccff);
  text-align: center;
  line-height: 64px;
  height: 64px;
  font-size: 26px;
  color: white;
}
.chat-container .conversation-title {
  font-family: "Russo One", sans-serif;
  text-align: center;
  font-size: 23px;
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #e6e6e6;
  color: #ff9999;
}

.chat-container .main {
  height: calc(100vh - 64px);
  display: flex
}
.chat-container .conversation-detail {
  height: 100%;
  width: 85%;
  display: flex;
  flex-direction: column;
}
.chat-container .list-messages {
  flex-grow: 1;
}
.chat-container #send-message-form {
  position: relative;
}
#send-message-form button {
  position: absolute;
  right: 10px;
  top: 23px;
  border: none;
  background: transparent;
  font-size: 1.5rem;
}
#send-message-form .input-wrapper {
  margin: 0;
}
#send-message-form .input-wrapper input {
  padding: 22px 20px;
  border-left: none;
}
.list-messages .message .content {
  width: max-content;
  padding: 4px 8px;
  border-radius: 4px;
  color: white;
  max-width: 45%;
  word-break: break-all;
}
.list-messages .message.mine .content {
  background-image: linear-gradient(#800000, #ffccff);
}
.list-messages .message.mine {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.chat-container .list-messages {
  padding: 10px;
  overflow: auto;
}
.list-messages .message.their .content {
  background-image: linear-gradient(#ffccff, #800000);
}
.fa {
  color:  rgb(207, 27, 111);
  border: none; 
  cursor: pointer;
}
 .fa:hover {
  color:rgb(211, 24, 24);
} 

.chat-container .aside-left{
  width: 15%;
  height: 100%;
  border-right: 1px solid #e6e6e6;
}
.chat-container .aside-left .create-conversation{
  display: flex;
  height: 64px;
  justify-content: center;
  align-items: center;
  border-bottom:1px solid #e6e6e6
}
.chat-container .aside-left .list-conversations .conversation{
  padding: 10px;
}
.chat-container .aside-left .list-conversations .current{
  color: white;
}
.chat-container .create-conversation #create-conversation{
  font-family: "Amiri", serif;
  font-family: "Nanum Myeongjo", serif;
  font-family: "Vollkorn", serif;
}
.chat-container .aside-left .list-conversations .conversation.current{
  background-image: linear-gradient(#800000, #ffccff);
}